@model SalesViewModel

<div class = "row">
	<div class="col-7"><h3>Cashier's Console</h3></div>
	<div class= "col-2"><label for="cashier">Cashier Name:</label></div>
	<div class= "col-3">
		@* Cashier name here *@
	</div>
</div>

<br />
<div class ="row">
	<div class="col-4">
		@*Category section*@
		<select asp-for="SelectedCategoryId" class="form-control">
                <option>- Please Select -</option>
                 @if (Model.Categories != null && Model.Categories.Count() > 0)
                 {
                     @foreach (var car in Model.Categories)
                     {
                         <option value="@car.ID">@car.Name</option>
                     }
                 }
             </select>
		<br />
		<div id="productsPartial">
			@*Product List*@
		</div>
		<br />
		<div>
			@*Product details*@
		</div>
		@*Sales form*@
	</div>
	<div class="col">
		@*List of transactions*@
	</div>
</div>

@* Jquery + AJAX to dynamically load products based on selected category *@
@section Scripts {
	<script>
		$(function()
		{
			$("#SelectedCategoryId").on("change", function ()
			{
				$("#productsPartial").load("/products/ProductsByCategoryPartial", {CategoryId: $(this).val()}); /* this czyli SelectedCategoryId, a ID to categoryId */
			})
		});
	</script>
}