@model Build_Market_Management_System.ViewModels.SalesViewModel

<div class = "row">
	<div class="col-7"><h3>Cashier's Console</h3></div>
	<div class= "col-2"><label for="cashier">Cashier Name:</label></div>
	<div class= "col-3">
		@User?.Identity?.Name
	</div>
</div>

<br />
<div class ="row">
	<div class="col-4">
		<div class="text-danger" asp-validation-summary="All"></div>
		@*Category section*@
		<select asp-for="SelectedCategoryId" class="form-control">
                <option>- Please Select -</option>
                 @if (Model.Categories != null && Model.Categories.Count() > 0)
                 {
                     @foreach (var car in Model.Categories)
                     {
                         <option value="@car.ID">@car.Name</option>
                     }
                 }
             </select>
		<br />
		<div id="productsPartial">
			@*Product List*@
		</div>
		<br />
		<div id="productsDetailsPartial">
			@*Product details*@
		</div>
		@*Sales form*@
		<form method="post" asp-controller="sales" asp-action="sell" id="formSale">
			<input asp-for="SelectedProductId" type="hidden" />
			<div class="form-group">
				<label asp-for="QuantityToSell"></label>
				<input type="number" asp-for="QuantityToSell" class="form-control" min="1"/>
			</div>
			@* <div class="col">
            <span class="text-danger" asp-validation-for="QuantityToSell"></span>
			</div> *@
			<br />
			<input type="submit" value="Submit" class="btn btn-primary"/>
		</form>
	</div>
	<div class="col">
		@*List of transactions*@
		@await Component.InvokeAsync("Transactions", "Default Cashier")
	</div>
</div>

@* Jquery + AJAX to dynamically load products based on selected category *@
@section Scripts {
	<script>
		$(function()
		{
			// Hide Sale Form until a product is selected
			$('#formSale').hide();
			// Clear Selected Product and Quantity on page load
			$("#QuantityToSell").val("");

			// Load products if category is already selected
			var selectedCategoryId = $("#SelectedCategoryId").val();
			if(selectedCategoryId > 0)
			{
				loadProducts(selectedCategoryId);
			}


			// 1. Category Selection
			$("#SelectedCategoryId").on("change", function ()
			{
				loadProducts($(this).val());
				// $("#productsPartial").load("/products/ProductsByCategoryPartial", {CategoryId: $(this).val()}); /* this czyli SelectedCategoryId, a ID to categoryId */
				// dzieki .html(""); przy kazdej zmianie kategorii content dla diva productDetailPartial jest czyszczony
				// $("#productsDetailsPartial").html("");
				// Hide Sale Form until a product is selected
				// $('#formSale').hide();
			});

			// 2. Product Selection
			$("#productsPartial").on("click", ".product-row", function ()
			{
				// usuwam poprzednie przypisanie quantity przy zmianie produktu
				//$('#formSale')[0].reset();

				// Highligt selected row (references wwwroot/css/site file where i set highlight to yellow)
					// 1. Musze odhighligthowac wszytstko co jest obecnie zahighlightowane
				$('.product-row').removeClass('highlight');
					// 2. Dodaje highlight do aktualnie zaznaczonego rzędu
				$(this).addClass('highlight');
				// Load Product Details
					// 1. Pobieram Id zaznaczonego produktu
					var productId = $(this).attr("product-id");
					//alert(productId);
					// 2. Ładuje szczegóły produktu do odpowiedniego diva
					$("#productsDetailsPartial").load("/sales/ProductDetailsPartial", { ProductId: productId });
				// Show Sale Form
				if(productId > 0)
				{
					$("#SelectedProductId").val(productId);
					$("#formSale").show();
				}
				else
				{
					$("#SelectedProductId").val("");
					$("#formSale").hide();
				}

			});

		});
		
		function loadProducts(categoryId)
		{
			$("#productsPartial").load("/sales/ProductsByCategoryPartial", {CategoryId: categoryId}); /* Gdyby bylo to poza funckja to uzylbym this -> $(this).val()} this czyli SelectedCategoryId, a ID to categoryId */
				//dzieki .html(""); przy kazdej zmianie kategorii content dla diva productDetailPartial jest czyszczony
			$("#productsDetailsPartial").html("");
				// Hide Sale Form until a product is selected
			$('#formSale').hide();
		}
	</script>
}

